.app-top-menu-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-top-menu-toolbar .logo {
    display: flex;
    align-items: center;
}

.app-top-menu-toolbar .logo-img {
    height: 60px;
    width: auto;
    max-width: 100%;
    display: block;
}

.app-top-menu-toolbar .spacer {
    flex: 1 1 auto;
}

.app-top-menu-toolbar a {
    text-decoration: none;
    margin: 0 8px;
}

.app-top-menu-toolbar button {
    height: 100%;
    border-radius: 0;
}

.avatar-usuario {
    background-color: rgb(14, 26, 192);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

}